<article>
    {{> article_header title="Box design" id="box-design" lang="CSS"}}

    {{{ startCode lang="css" text="Example"}}}
        #box1 {
            background-color: lightblue;
            border: 3px solid;
            border-color: yellow green blue red;
            margin: 5px;
        }
    {{{ endCode }}}

    {{{ startHTMLex }}}
        <style>
            #box1 {
                background-color: lightblue;
                border: 3px solid;
                border-color: yellow green blue red;
                margin: 5px;
            }
        </style>
        <div id="box1">
            box1
        </div>
    {{{ endHTMLex }}}

    Mentionable:
    <ol>
        <li>{{{ htmlCode text="border-image: myborder.png 50 50 50 50 round" }}}</li>
    </ol>

    {{> article_footer author="Simon Oczadly" date="10.04.2018"}}
</article>
