<article>
    {{> article_header title="Display tag" id="display-tag" lang="CSS"}}

    Attributes:
    <ol>
        <li>{{{ htmlCode text="block" }}} breaks line.</li>
        <li>{{{ htmlCode text="inline" }}} no breaks line. Like text in the same line</li>
        <li>{{{ htmlCode text="flex" }}} Flex box.</li>
        <li>{{{ htmlCode text="inline-block" }}} can use width, height and margin like /"block/" but behaves like inline.</li>
        <li>{{{ htmlCode text="list-item" }}} like {{{ htmlCode text="<li>" }}} it gives the element a bullet.</li>
        <li>{{{ htmlCode text="none" }}} invisible.</li>
        <li>{{{ htmlCode text="run-in" }}} depend on context.</li>
        <li>{{{ htmlCode text="table ..." }}} like {{{ htmlCode text="<table>" }}}</li>
    </ol>

    {{> article_footer author="Simon Oczadly" date="16.04.2018"}}
</article>
