<article>
    <div class="title" id="article-or-section-and-aside">
        <h2>Article or Section</h2>
        <h4>> HTML</h4>
        <span class="go-top"><a href="#">&#xe110;</a></span>
    </div>

    <p>A {{{ htmlCode text="<section>" }}} is used to group different {{{ htmlCode text="<article>" }}} into different
        purposes or subjects, or to define the different sections of a single {{{ htmlCode text="<article>" }}}.</p>

    {{{ startCode lang="html" text="Example:"}}}
        <section id="content">
            <article>
                <h2>Hello, I'm a article</h2>
                <p>and I'm inside a section</p>
            </article>
            <article>
                <h2>Hello, I'm a another article</h2>
                <p>Look at me!</p>
            </article>
        </section>
    {{{ endCode }}}

    <div class="center">
        <figure>
            <img src="imgs/article-or-section.png" alt="An example of section and article"></img>
            <figcaption>Article and section example<sup><a href="#article-or-section-source">{1}</a></sup></figcaption>
        </figure>
    </div>


    <p>The <em>aside</em> tag shows content related to parent content. For example a
        a quotation inside a article</p>

    {{{ startCode lang="html" text="Example:"}}}
            <article>
                <h2>Hello, I'm a article</h2>
                <p>and I'm inside a section</p>
                <aside>
                    <h4>From Iron Man</h4>
                    <p>2018</p>
                </aside>
            </article>
    {{{ endCode }}}

    <section id="article-or-section-source" class="source">
        Source:
        <ol>
            <li><a href="https://stackoverflow.com/a/24764861">Picture: https://stackoverflow.com/a/24764861</a></li>
        </ol>
    </section>
</article>
