<footer class="footer-page">
    {{#if sources}}
    <section id="box-model-source" class="source">
        Sources:
            {{#sourceList sources}}{{source}}{{/sourceList}}
    </section>
    {{/if}}
    <section class="article-info">
        <a href="#" rel="author">{{ author }}</a> |
        <time datetime="{{ dateMachine }}"> {{ date }}</time>
    </section>
    {{{ goTop }}}
</footer>
